@tailwind base;
@tailwind components;
@tailwind utilities;

/* BOUNCING ENTRANCE ANIMATION */
@keyframes bounce-entrance {
    0% {
        opacity: 0;
        transform: scale(0.3);
    }
    50% {
        opacity: 1;
        transform: scale(1.05);
    }
    70% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}

.bounce-in {
    animation-name: bounce-entrance;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

/* ZOOM IN ENTRANCE ANIMATION */
@keyframes zoom-in {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.zoom-in {
    animation-name: zoom-in;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

/* BOUNCE LEFT  */
.box {
    animation-name: bounce-left;
    animation-duration: 1s;
}

/* define the animation */
@keyframes bounce-left {
    0% {
        transform: translateX(-200%);
    }
    60% {
        transform: translateX(25%);
    }
    75% {
        transform: translateX(-10%);
    }
    90% {
        transform: translateX(5%);
    }
    100% {
        transform: translateX(0%);
    }
}
